body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  background: lightgray;
  padding: 20px;
}

.coluna {
  background: orange;
  color: white;
  padding: 40px;
  flex: 1;
  text-align: center;
  font-size: 20px;
}


.horizontal {
  flex-direction: row;
}


.vertical {
  flex-direction: column;
}