body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: flex;
  background: lightgray;
  height: 100px;
}

.item {
  background: orange;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}



.item1 {
  flex-grow: 1;
}

.item2 {
  flex-grow: 2;
}

.item3 {
  flex-grow: 1;
}