.container{
    background: palegreen;
   /* padding: 20px;*/
    margin: 20px;
    width: 300px;

    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.item{
    background: orange;
   /*  margin: 10px;*/
}

#container-01{
    flex-direction: row;
}
#container-02{
    flex-direction: column;
    height: 300px;
}

.item-1{
    width: 50px;
    height: 50px;

}

.item-2{
    width: 80px;
    height: 80px;
}

.item-3{
    width: 40px;
    height: 40px;
}


