body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: flex;
  background: lightgray;
}

.item {
  background: orange;
  margin: 10px;
  padding: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
}



.item1 {
  flex-basis: 100px;
}

.item2 {
  flex-basis: 200px;
}

.item3 {
  flex-basis: 150px;
}