html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #e0e0e0;
    padding: 10px 20px 0px;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu ul li {
    margin-bottom: 10px;
}
.header {
    background-color: #5f9ea0;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #ccc;
    min-height: 150px;
    padding: 20px;
}
